.banner {
	background-image: url("imgs/banner.png");
	background-attachment: fixed;

	-webkit-background-size: contain;
  	-moz-background-size: contain;
  	-o-background-size: contain;
  	background-size: contain;

	width: 100%;
	min-height: 250px;
}

.banner-header {
	padding-top: 1em !important;
	font-size: 5em !important;
}

.ui.container {
	margin-top: 2em;
	margin-bottom: 2em;
	max-width: 800px !important;
}

.section-content {
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
}

.ui.button.light.grey {
	background-color: #C7C9CB;
	color: #000000;
}

.ui.button.light.grey:hover {
	background-color: #AAAAAA;
	color: #FFFFFF;
}

.ui.label.light.grey {
	background-color: #C7C9CB !important;
	color: #000000 !important;
}

.header-v1 {
	background-color: #238AFF !important;
	color: #FFFFFF !important;
}

.header-v2 {
	background-color: #01AA91 !important;
	color: #FFFFFF !important;
}

.project-links {
	padding-left: 1em;
}

.content.header {
	background-color: #EEEEEE !important;
}

.extra.content {
	background-color: #EEEEEE !important;
}
