.banner {
	background-image: url("imgs/code_banner.png");
	background-attachment: fixed;

	width: 100%;
	min-height: 250px;
}

.banner-header {
	padding-top: 2em !important;
}

.ui.container {
	margin-top: 2em;
	margin-bottom: 2em;
}

.section-content {
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
}
